/**
 * 树的样式配置文件
 * 
 * @author rongjihuang@gmail.com
 * @date 2012-11-12
 * @comment 使用table作为节点的容器，通过表格行的背景控制鼠标悬停的整行样式显示，类似win7的资源管理器树
 */

/* 容器 */
.bc-tree {
	position: relative;
	overflow: auto;
	margin: 0px;
	padding: 0px;
	cursor: default;
	box-sizing: border-box;
	padding: 8px 1px !important;
}

/* 加载动画 */
.bc-tree>.loader {
	position: absolute;
	width: 32px;
	height: 32px;
	background: url("images/loader/loader01_32x32.gif") no-repeat;
	padding: 0;
	margin: 0;
}

/* 节点 */
.treeNode {
	padding: 0;
	vertical-align: middle;
}

/* 节点集 */
.treeNode>table.nodes {
	list-style: none;
	margin: 0px;
	padding: 0px;
	cursor: default;
	border-spacing: 0;
	border: none;
	width: 100%;
}

.treeNode>.item {
	position: relative;
	white-space: nowrap; /* normal | nowrap | keep-all*/
}

.treeNode>.item.ui-state-normal {
	border-color: transparent;
}
/* 节点：内容 */
.treeNode>.item>span {
	display: inline-block;
}

.treeNode>.item>span.ui-icon{
	opacity: 0.7;
	filter: alpha(opacity = 70);
}
.treeNode>.item>span.ui-icon:hover{
	opacity: 1;
	filter: alpha(opacity = 100);
}
/* 节点：叶子-无导航图标 */
.treeNode.leaf>.item>span.nav-icon {
	background-image: none;
	visibility: hidden;
}
/* 节点：导航图标--默认隐藏 */
.bc-tree.autoHideShowNav .treeNode>.item>span.nav-icon {
	visibility: hidden;
	-moz-transition: visibility 0.5s ease-out 0.1s;
	-webkit-transition: visibility 0.5s ease-out 0.2s;
}
/* 节点：导航图标--鼠标悬停时显示 */
.bc-tree.autoHideShowNav:hover .treeNode>.item>span.nav-icon {
	visibility: visible;
}
/* 节点：操作按钮 */
.treeNode>.item>ul.buttons {
	list-style: none;
	position: absolute;
	top: 50%;
	padding: 0;
	margin: -9px 0 0 0;
	right: 4px;
}
.treeNode>.item>ul.buttons>li {
	cursor: pointer;
	padding: 0;
	margin: 0;
	float: left;
	box-sizing: border-box;
}

/* 节点的子节点可见性控制 */
.treeNode.collapsed>table.nodes {
	display: none;
}

/* 节点的嵌套层次结构样式控制 */
.bc-tree table.nodes.level1>tbody>tr>.treeNode>.item {
	padding-left: 16px;
}

.bc-tree table.nodes.level2>tbody>tr>.treeNode>.item {
	padding-left: 32px;
}

.bc-tree table.nodes.level3>tbody>tr>.treeNode>.item {
	padding-left: 48px;
}

.bc-tree table.nodes.level4>tbody>tr>.treeNode>.item {
	padding-left: 64px;
}

.bc-tree table.nodes.level5>tbody>tr>.treeNode>.item {
	padding-left: 80px;
}

.bc-tree table.nodes.level6>tbody>tr>.treeNode>.item {
	padding-left: 96px;
}

.bc-tree table.nodes.level7>tbody>tr>.treeNode>.item {
	padding-left: 112px;
}

.bc-tree table.nodes.level8>tbody>tr>.treeNode>.item {
	padding-left: 128px;
}

.bc-tree table.nodes.level9>tbody>tr>.treeNode>.item {
	padding-left: 144px;
}

/* 展开节点的加载动画 */
.treeNode>.item>span.type-icon.ui-icon-loader {
}

/* jqueryUI样式复写 */